<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <div class="bottom-nav" *ngIf="showNavbar">
    <div class="nav-item" (click)="navigateTo('/home')">
      <ion-icon name="home-outline"></ion-icon>
    </div>

    <div class="nav-item" (click)="navigateTo(getSecondNavRoute())">
      <ion-icon [name]="getSecondNavIcon()"></ion-icon>
    </div>

    <div class="nav-item center-button" (click)="navigateTo('/requests/create')"
      *ngIf="appModeService.isUserMode && !isOnHomePage">
      <div class="fab-circle">
        <ion-icon name="add"></ion-icon>
      </div>
    </div>

    <div class="nav-item" (click)="navigateTo(getFourthNavRoute())">
      <ion-icon [name]="getFourthNavIcon()"></ion-icon>
    </div>

    <div class="nav-item" (click)="navigateTo('/profile')">
      <ion-icon name="person-outline"></ion-icon>
    </div>
  </div>
</ion-app>